table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
}

th{
  background-color: #F9F9F9;
}

th, tr, td {
  padding: 5px 50px;
  text-align: center;
}

input{
  margin: 0 20px;
}

.button-container{
  float: right;
  margin-top: 40px;
}

.ul-bulleted{
  list-style: circle;
  padding-left: 40px;
}
