button {
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}
ul {
  list-style: none;
  padding: 0;
}
.remove-button {
    height: 25px;
    width: 25px;
    border-radius: 3px;
    background: transparent;
    border: none;
    font-size: 26px;
    outline: none;
}
