body {
  font-family: 'Open Sans', sans-serif;
   margin: 0 auto;
}
aside{
  float: left;
  margin-right: 15%;
  background: transparent;
  border-right: 1px solid gray;

}
h1,h2,h3,h4,h5 {
  font-family: 'Lato', sans-serif;
}
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#content {
  display: inline-block;
}
#container {
    width: 80%;
    background: linear-gradient(#fff 44%, #f7f7f7);;
    margin: 0 auto;
    min-height: 100vh;
    padding: 45px 80px;
    box-sizing: border-box;

}

@media (max-width: 800px) {
    #container {
        width: 95%;
    }
}

.vertical-menu {
    width: 200px;
    height: 100%;
    overflow-y: auto;
}

.vertical-menu a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
